<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
<ul>
{% for i in menu %}
    <li><a href="{% url i.url %}">{{ i.name }}</a></li>
{% endfor %}
    <hr>
{% for i in category %}
    <li>{{ i.name }}</li>
{% endfor %}
    <hr>
{% for i in women%}
    {% if i.image %}
    <img src="{{i.image.url}}" alt="" height="200px" width="300px">
    {% endif %}
    <h2>{{ i.get_full_name }}</h2>
    <h3>{{ i.age }} лет</h3>
    <h4>{{ i.bio }}</h4>
    <form action="{% url 'delete-women' i.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>
    <a href="{% url 'detail-women' i.slug%}" >Читать пост</a>
    <hr>
    {% endfor %}
</ul>
</body>
</html>

<!--<h3>Полное имя: {{ i.name }}</h3>-->
<!--<h3>Возраст: {{ i.age }}</h3>-->
<!--<h3>Биография: {{ i.bio }}</h3>-->
<!--<object_list-->